<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>My Leave Application List</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
</head>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right">Hogwarts School Management System</span>
</div>





<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> Movement Reg</b></h5>
  </header>

  <div class="w3-row-padding w3-margin-bottom">

    <div class="w3-col" style="width:20%">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3 th:text=${mycourse}>??</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>All Leaves Approved</h4>
      </div>
    </div>
  
    
      
    <div class="form-group blu-margin">

  
</div>
  
      
     
    </div>
    
    
  

  <div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px">
  
      
      <div class="w3-twothird">
        <h5>Movement Register</h5>
        
        	
        <table class="w3-table w3-striped w3-white">
        
         		<tr>
 			<td><i class="fa fa-user w3-text-blue w3-large"></i>Faculty Name</td><td>Department</td><td>Start Date</td><td>End Date</td><td>Status</td>
 		</tr>
 		<tr th:each="leaveapp:${leavelists}">
 	
 		<td th:text=${leaveapp.getFaculty().getFirstName()}>Faculty Name</td>
 		<td th:text=${leaveapp.getFaculty().getDepartment()}>Department</td>
 			<td th:text="${#calendars.format(leaveapp.startDate,'dd-MM-yyyy')}">Start Date</td>
 			<td th:text="${#calendars.format(leaveapp.endDate,'dd-MM-yyyy')}">End Date</td>
 			<td th:text=${leaveapp.status}>Status</td>
 		
 			</tr>
 			<tr>
 				
 			</tr>
	
        </table>
            <select class="form-control" id="months" onchange="window.location.href=this.value;">
    <option value="/home/movement/2">--</option>
    <option value="/home/movement/1">Last Month</option>
    <option value="/home/movement/2">Current Month</option>
    <option value="/home/movement/3">Next Month</option>
    </select>
        <hr>

			
      </div>
      
      
            

    </div>
  </div>
  <hr>
   </div>
  <!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-light-grey">
    <p class="w3-wide" align="center">&copy; NUS ISS SA49 Team1 Presented, All Rights Reserved</p>
  </footer>

  <!-- End page content -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>